@import "tailwindcss";

@theme {
  --color-google-blue: #1a73e8;
  --color-google-red: #ea4335;
  --color-google-yellow: #fbbc05;
  --color-google-green: #34a853;
  --color-google-gray-text: #5f6368;
  --color-google-gray-darktext: #bdc1c6;
  --color-google-gray-border: #dadce0;
  --color-google-gray-darkborder: #3c4043;
  --color-google-gray-bg: #202124;
  --color-google-dark-panel: #303134;
  --color-google-dark-body: #202124;
  --color-google-dark-search-bg: #303134;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Base body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Utility to hide scrollbars while preserving scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
